button{
    color: white;
    background-color: #00806F;
    background-color: #00806F;
    border: 1px solid #004037;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}
.container-fluid{
    background-color: #009681;
    height: 100%;
}
.container{
    border: 2px solid #004037;
    margin: 20px;
}
.display-4{
    font-size: 4rem;
    text-align: center;
    color: #004037;
   
}
.lead{
    font-size: 2rem;
    border-top: 2px solid #004037;
    text-align: center;
}